<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include("./partials/scripts") %>

    <div class="container mt-3">
      <form>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter blog title"
          />
        </div>
      </form>
    </div>

    <%-include("./partials/nav") %>
  </body>
</html>
